/* @media (min-width: 400px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
  }
} */

@import "./variables.css";
@import "./shared.css";

@import "./navigation-menu.css";
@import "./content.css";
@import "./introduction.css";
@import "./home.css";
@import "./contact.css";
@import "./about.css";
@import "./footer.css";
